<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properties -->
    <title>ETDA Relying Party (RP)</title>
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/font-awesome.css" rel="stylesheet">
    <link href="assets/css/docs.css" rel="stylesheet" >

    <link href="bootstrap-social.css" rel="stylesheet" >

    <!-- Stylesheets -->
</head>
<body>
  <div class="container">
    <br/>
    <a class="btn btn-block btn-social btn-openid" href="/login?idp=[IDP Name]">
      <span class="fa fa-openid"></span> Sign in with [IDP Name]
    </a>
    <a class="btn btn-block btn-social btn-openid" href="/login?idp=example">
      <span class="fa fa-openid"></span> Sign in with Example
    </a>
    <a class="btn btn-block btn-social btn-openid" href="/login?idp=google">
      <span class="fa fa-openid"></span> Sign in with Google
    </a>
  </div>
</body>
</html>
